#resume .hover-point:hover {
    cursor: pointer;
}

#resume h2 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#resume h3 {
    margin-bottom: 0.25rem;
    margin-top: 1rem;
}

#resume h4 {
    margin-left: 3rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

#resume ul {
    margin-left: 3rem;
    margin-top: 0.25rem;
}

#resume li, #resume p, #resume .sub {
    font-family: "Times New Roman", serif;
    font-weight: normal;
}

#resume #contact-links a {
    margin: 0 1rem;
}

#resume a {
    color: inherit !important;
    text-decoration: none !important;
}

#resume a:hover {
    text-decoration: underline !important;
}